<section class="contact-hero">
  <div class="container">
    <h1>Contactez-nous</h1>
    <p>Notre équipe est à votre écoute pour répondre à vos besoins. N'hésitez pas à nous contacter pour toute question, demande de devis ou information complémentaire.</p>
  </div>
</section>

<section class="contact-content">
  <div class="container">
    <div class="contact-info">
      <h2>Nos Coordonnées</h2>
      <p>Besoin d’un renseignement ? Retrouvez ci-dessous nos différentes coordonnées pour nous joindre facilement.</p>
      <div class="info-item">
        <h3>Adresse</h3>
        <div class="map-wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1599.4821705421919!2d3.091790317423923!3d36.69939477337475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128fad10b768fc8b%3A0x8251877b07231d18!2sECO%20HEALTH%20COMFORT!5e0!3m2!1sfr!2sfr!4v1740438951334!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      </div>
      <div class="info-item">
        <h3>Téléphone</h3>
        <p>+213 560 94 52 59</p>
        <p>+213 560 68 46 60</p>
      </div>
      <div class="info-item">
        <h3>Email</h3>
        <p>contact&#64;ecohealth.fr</p>
      </div>
      <div class="info-item">
        <h3>Horaires</h3>
        <p>Samedi - Jeudi: 9h - 17h</p>
        <p>Vendredi: Fermé</p>
      </div>
    </div>
  </div>
</section>
