<header>
    <nav class="container">
      <app-logo></app-logo>
      
      <button class="burger-menu" (click)="toggleMenu()" [class.active]="isMenuOpen">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <ul [class.active]="isMenuOpen">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleMenu()">Accueil</a></li>
        <li><a routerLink="/services" routerLinkActive="active" (click)="toggleMenu()">Nos Services</a></li>
        <li><a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()">À Propos</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()">Contact</a></li>
      </ul>
    </nav>
  </header>