<footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-section">
          <h3>EcoHealth</h3>
          <p>Spécialiste de la collecte et du traitement des déchets DASRI</p>
        </div>
        <div class="footer-section">
          <h4>Liens Rapides</h4>
          <ul>
            <li><a routerLink="/">Accueil</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/about">À Propos</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Contact</h4>
          <p>Email: contact&#64;ecohealth.fr</p>
          <p>+213 560 94 52 59</p>
          <p>+213 560 68 46 60</p>
          
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 EcoHealth. Tous droits réservés.</p>
      </div>
    </div>
  </footer>